<h2 class="text-lg font-semibold mb-4">Summary</h2>
<div class="flex justify-between mb-2">
    <span>Subtotal</span>
    <span>$19.99</span>
</div>
<div class="flex justify-between mb-2">
    <span>Taxes</span>
    <span>$1.99</span>
</div>
<div class="flex justify-between mb-2">
    <span>Shipping</span>
    <span>$0.00</span>
</div>
<hr class="my-2">
<div class="flex justify-between mb-2">
    <span class="font-semibold">Total</span>
    <span class="font-semibold">Ksh: {{cart.get_total_cost}}</span>
</div>